<h1>WebSocket-Rails</h1>
<ul>
  <li>
    <%= link_to 'Webpacker ver', controller: 'chat_messages', action: 'index' %>
  </li>
  <li>
    <%= link_to 'Vue.js ver', controller: 'chat_messages', action: 'index_vue' %>
  </li>
</ul>